.wz-font-h1 {
    font-size: 29px;
    font-family: yekan, tahoma, serif
}

.wz-font-h2 {
    font-size: 19px;
    font-family: yekan, tahoma, serif
}

.wz-font-h3 {
    font-size: 70px;
    font-family: yekan, tahoma, serif
}

.wz-font-h4 {
    font-size: 40px;
    font-family: yekan, tahoma, serif
}

.wz-font-h5 {
    font-size: 23px;
    font-family: yekan, tahoma, serif
}

.wz-font-h6 {
    font-size: 19px;
    font-family: yekan, tahoma, serif
}

.wz-font-p {
    font-size: 11px;
    font-family: yekan, tahoma, serif
}

.wz-font-p2 {
    font-size: 13px;
    font-family: yekan, tahoma, serif
}

.wz-font-p3 {
    font-size: 15px;
    font-family: yekan, tahoma, serif
}

#wze7 {
    top: 1px;
    left: 1.4px;
    width: 1167px;
    height: 76px;
    z-index: 1000
}

.wzc4-bg {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute;
    background-color: rgb(255, 255, 255)
}

.wzc4-content {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute
}

#wze9 {
    top: 10.5px;
    left: 162.488px;
    width: 107px;
    height: 40px;
    z-index: 1000
}

.wzc5:hover .wzc5-bg {
    background-color: transparent;
    border-width: 1px
}

.wzc5:hover .wzc5-content {
    color: #4FC3F7
}

.wzc5-bg {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute;
    background-color: #4FC3F7;
    border-radius: 5px;
    border-style: solid;
    border-color: #4FC3F7
}

.wzc5-content {
    pointer-events: none;
    z-index: 1;
    position: relative;
    width: 100%;
    display: block;
    top: 50%;
    left: 0px;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: yekan, tahoma, serif;
    font-size: 17px;
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff
}

#wze10 {
    top: 10.5px;
    left: 47.488px;
    width: 107px;
    height: 40px;
    z-index: 1000
}

#wze13 {
    top: 0.5px;
    left: 1047.5px;
    width: 95px;
    height: 55px;
    z-index: 1000
}

.wzc8-frame {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    border-radius: 5px
}

.wzc8-img .wzc8-img-inner {
    width: 100%;
    height: 100%;
    float: left
}

.wzc8-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px
}

.wzc8-img-inner {
    object-fit: fill
}

#wz-section-header {
    height: 78px
}

#wz-section-allPage {
    height: 0px
}

#wze31 {
    top: 209.889px;
    left: 917.404px;
    width: 120px;
    height: 130px;
    z-index: 1000
}

.wzc29-frame {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    border-radius: 25px
}

.wzc29-img .wzc29-img-inner {
    width: 100%;
    height: 100%;
    float: left
}

.wzc29-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 25px
}

.wzc29-img-inner {
    object-fit: fill
}

#wze32 {
    top: 213.232px;
    left: 450.903px;
    width: 120px;
    height: 130px;
    z-index: 1000
}

#wze33 {
    top: 212.722px;
    left: 296.403px;
    width: 120px;
    height: 130px;
    z-index: 1001
}

#wze34 {
    top: 213.222px;
    left: 605.903px;
    width: 120px;
    height: 130px;
    z-index: 1002
}

#wze35 {
    top: 212.223px;
    left: 763.404px;
    width: 117px;
    height: 130px;
    z-index: 1003
}

#wze36 {
    top: 212px;
    left: 148.389px;
    width: 120px;
    height: 130px;
    z-index: 1004
}

#wze39 {
    top: 355.389px;
    left: 917.414px;
    width: 116px;
    height: 22.2083px;
    z-index: 1003;
    text-align: right
}

.wzc28 {
    height: auto
}

.wzc28-text {
    width: 100%;
    height: auto
}

#wze40 {
    top: 355.722px;
    left: 777.904px;
    width: 88px;
    height: 44.4306px;
    z-index: 1003;
    text-align: center
}

#wze41 {
    top: 355.222px;
    left: 617.903px;
    width: 96px;
    height: 44.4306px;
    z-index: 1003;
    text-align: center
}

#wze42 {
    top: 355.229px;
    left: 465.404px;
    width: 88px;
    height: 44.4306px;
    z-index: 1003;
    text-align: center
}

#wze43 {
    top: 355.222px;
    left: 311.904px;
    width: 88px;
    height: 22.2083px;
    z-index: 1003;
    text-align: center
}

#wze44 {
    top: 355.007px;
    left: 134.875px;
    width: 136px;
    height: 22.1944px;
    z-index: 1003;
    text-align: center
}

#wze45 {
    top: 155.5px;
    left: 858.903px;
    width: 180px;
    height: 32.8889px;
    z-index: 1003;
    text-align: right
}

#wz-section-wzs2 {
    height: 539.667px
}

#wze48 {
    top: 2.55531px;
    left: 1.00019px;
    width: 1168px;
    height: 100px;
    z-index: 1004
}

.wzc31-bg {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-style: dotted;
    border-width: 0px;
    border-color: #000
}

.wzc31-content {
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    position: absolute
}

#wze46 {
    top: 10.4583px;
    left: 895.487px;
    width: 270px;
    height: 21.3194px;
    z-index: 1004;
    text-align: right
}

#wze49 {
    top: 52.8334px;
    left: 1054.47px;
    width: 20px;
    height: 20px;
    z-index: 1004
}

.wzc32 {
    overflow: hidden
}

.wzc32-shape {
    width: 100%;
    height: 100%;
    stroke-width: 0px;
    stroke: #000000;
    fill: rgb(26, 63, 80)
}

#wze50 {
    top: 52.8334px;
    left: 1134.5px;
    width: 20px;
    height: 20px;
    z-index: 1004
}

#wze51 {
    top: 52.8334px;
    left: 984.482px;
    width: 20px;
    height: 20px;
    z-index: 1004
}

#wze52 {
    top: 52.8195px;
    left: 914.458px;
    width: 20px;
    height: 20px;
    z-index: 1004
}

.wzc34 {
    overflow: hidden
}

.wzc34-shape {
    width: 100%;
    height: 100%;
    stroke-width: 0px;
    stroke: #000000;
    fill: #34495e
}

#wze53 {
    top: 72.7222px;
    left: 443.903px;
    width: 345px;
    height: 16px;
    z-index: 1004;
    text-align: right
}

#wz-section-footer {
    height: 103.542px
}

[data-page=p1] #wz-root-background {
    background-color: rgb(243, 243, 243)
}

@media only screen and (max-width: 768px) {
    #wze7 {
        top: 15px;
        left: 1.4095px;
        bottom: auto;
        right: auto;
        width: 465.194px;
        height: 85px;
        display: block;
        z-index: 1000
    }

    #wze9 {
        top: 15px;
        left: 13.6109px;
        bottom: auto;
        right: auto;
        width: 107px;
        height: 40px;
        display: block;
        z-index: 1000
    }

    #wze10 {
        top: 15px;
        left: 142.604px;
        bottom: auto;
        right: auto;
        width: 107px;
        height: 40px;
        display: block;
        z-index: 1000
    }

    #wze13 {
        top: 15px;
        left: 366.611px;
        bottom: auto;
        right: auto;
        width: 95px;
        height: 55px;
        display: block;
        z-index: 1000
    }

    #wz-section-header {
        height: 115px
    }

    #wz-section-allPage {
        height: 0px
    }

    #wze31 {
        top: 72.2562px;
        left: 333.002px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze32 {
        top: 298.584px;
        left: 333px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze33 {
        top: 298.588px;
        left: 183px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze34 {
        top: 73.7149px;
        left: 31.8433px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze35 {
        top: 73.7083px;
        left: 190.503px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze36 {
        top: 298.584px;
        left: 29.2639px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze39 {
        top: 219.709px;
        left: 337.012px;
        bottom: auto;
        right: auto;
        width: 116px;
        height: 22.1944px;
        display: block;
        z-index: 1000;
        text-align: right
    }

    #wze40 {
        top: 219.708px;
        left: 206.503px;
        bottom: auto;
        right: auto;
        width: 88px;
        height: 44.4306px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze41 {
        top: 219.709px;
        left: 41.2769px;
        bottom: auto;
        right: auto;
        width: 96px;
        height: 44.4306px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze42 {
        top: 444.806px;
        left: 349px;
        bottom: auto;
        right: auto;
        width: 88px;
        height: 44.4306px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze43 {
        top: 445.324px;
        left: 198px;
        bottom: auto;
        right: auto;
        width: 88px;
        height: 22.1944px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze44 {
        top: 445.338px;
        left: 15.8471px;
        bottom: auto;
        right: auto;
        width: 136px;
        height: 22.1944px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze45 {
        top: 15px;
        left: 144px;
        bottom: auto;
        right: auto;
        width: 180px;
        height: 32.8889px;
        display: block;
        z-index: 1000;
        text-align: right
    }

    #wz-section-wzs2 {
        height: 554.556px
    }

    #wze48 {
        top: 15px;
        left: 1.00019px;
        bottom: auto;
        right: auto;
        width: 465.986px;
        height: 222.319px;
        z-index: 1000
    }

    #wze46 {
        top: 15px;
        left: 103.493px;
        bottom: auto;
        right: auto;
        width: 259px;
        height: 21.3194px;
        z-index: 1000;
        text-align: right
    }

    #wze49 {
        top: 86.3194px;
        left: 222.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze50 {
        top: 121.3194px;
        left: 222.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze51 {
        top: 156.319px;
        left: 222.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze52 {
        top: 51.3194px;
        left: 222.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze53 {
        top: 191.319px;
        left: 60.493px;
        bottom: auto;
        right: auto;
        width: 345px;
        height: 16px;
        z-index: 1000;
        text-align: right
    }

    #wz-section-footer {
        height: 252.319px
    }
}

@media only screen and (min-width: 768px)and (max-width: 1170px) {
    #wze7 {
        top: 15px;
        left: 1.4095px;
        bottom: auto;
        right: auto;
        width: 765.194px;
        height: 85px;
        display: block;
        z-index: 1000
    }

    #wze9 {
        top: 15px;
        left: 14.0971px;
        bottom: auto;
        right: auto;
        width: 107px;
        height: 40px;
        display: block;
        z-index: 1000
    }

    #wze10 {
        top: 15px;
        left: 135.111px;
        bottom: auto;
        right: auto;
        width: 107px;
        height: 40px;
        display: block;
        z-index: 1000
    }

    #wze13 {
        top: 7.5px;
        left: 663.111px;
        bottom: auto;
        right: auto;
        width: 95px;
        height: 55px;
        display: block;
        z-index: 1000
    }

    #wz-section-header {
        height: 115px
    }

    #wz-section-allPage {
        height: 0px
    }

    #wze31 {
        top: 62.8889px;
        left: 596.5px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze32 {
        top: 62.8889px;
        left: 190.5px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze33 {
        top: 62.8889px;
        left: 55.5px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze34 {
        top: 62.8889px;
        left: 325.5px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze35 {
        top: 62.8889px;
        left: 460.5px;
        bottom: auto;
        right: auto;
        width: 117px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze36 {
        top: 267.32px;
        left: 604px;
        bottom: auto;
        right: auto;
        width: 120px;
        height: 130px;
        display: block;
        z-index: 1000
    }

    #wze39 {
        top: 207.889px;
        left: 596.5px;
        bottom: auto;
        right: auto;
        width: 116px;
        height: 22.2083px;
        display: block;
        z-index: 1000;
        text-align: right
    }

    #wze40 {
        top: 207.382px;
        left: 475px;
        bottom: auto;
        right: auto;
        width: 88px;
        height: 44.4306px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze41 {
        top: 207.376px;
        left: 334.007px;
        bottom: auto;
        right: auto;
        width: 96px;
        height: 44.4306px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze42 {
        top: 207.383px;
        left: 199px;
        bottom: auto;
        right: auto;
        width: 88px;
        height: 44.4306px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze43 {
        top: 218.494px;
        left: 69.4861px;
        bottom: auto;
        right: auto;
        width: 88px;
        height: 22.1944px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze44 {
        top: 411.889px;
        left: 596px;
        bottom: auto;
        right: auto;
        width: 136px;
        height: 22.1944px;
        display: block;
        z-index: 1000;
        text-align: center
    }

    #wze45 {
        top: 15px;
        left: 294px;
        bottom: auto;
        right: auto;
        width: 180px;
        height: 32.8889px;
        display: block;
        z-index: 1000;
        text-align: right
    }

    #wz-section-wzs2 {
        height: 483.306px
    }

    #wze48 {
        top: 15px;
        left: 1.00019px;
        bottom: auto;
        right: auto;
        width: 765.986px;
        height: 222.319px;
        z-index: 1000
    }

    #wze46 {
        top: 15px;
        left: 253.493px;
        bottom: auto;
        right: auto;
        width: 259px;
        height: 21.3194px;
        z-index: 1000;
        text-align: right
    }

    #wze49 {
        top: 86.3194px;
        left: 372.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze50 {
        top: 121.3194px;
        left: 372.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze51 {
        top: 156.319px;
        left: 372.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze52 {
        top: 51.3194px;
        left: 372.993px;
        bottom: auto;
        right: auto;
        width: 20px;
        height: 20px;
        z-index: 1000
    }

    #wze53 {
        top: 191.319px;
        left: 210.493px;
        bottom: auto;
        right: auto;
        width: 345px;
        height: 16px;
        z-index: 1000;
        text-align: right
    }

    #wz-section-footer {
        height: 252.32333150685px
    }

    #message-password {
        display:none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: 10px;
    }

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }

    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -35px;
        content: "✔";
    }

    .invalid {
        color: red;
    }

    .invalid:before {
        position: relative;
        left: -35px;
        content: "✖";
    }
}